body{background-color: rgba(212, 212, 212, 0.699);
margin: 0;
font-family: Arial, Helvetica, sans-serif;}
.edu-img{width: 140px;
         height: 140px;
         object-fit: cover;}
         .hero {background: linear-gradient(135deg, #212529,#343a40); padding: 100px 0;}
         .profile-img{width: 160px; height: 160px; object-fit: cover; border-radius: 50; border: 4px solid white;}
         .skill-card {
            transition: all 0.25s ease;
         }
         .skill-card:hover {
            transform: translateY(-6px);
            box-shadow: 0 8px 20px
            rgba(0,0,0,0.15);
         }
         .card ul{
            padding-left: 1.2rem;
         }
         .card ul li {
            margin-bottom: 8px;
         }
         .bg-purple {
            background-color: #6f42c1;
         }
         .work-card {
            transition: all 0.25s ease;
         }
         .work-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px
            rgba(0,0,0,0.15);
         }
         .edu-card {
            border: none;
            border-radius: 12px;
            transition: all 0.25s ease;
         }
         .edu-card:hover {
         transform: translateY(-5px);
         box-shadow: 0 10px 25px rgba(0,0,0,0.15);
         }
         .edu-card ul {
            padding-left: 1.2rem;
         }
         .edu-card li {
            margin-bottom: 0.4rem;
         }